.hero{
    width: 100%;
    background-color: var(--blanco);
    display: flex;
    justify-content: space-between;    
    align-items: center;
    margin-bottom: 8vh;
}
.banner{
    width: 100%;
    margin: 3vh 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10vh;
}
.hero-title{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 10vw;
}
.hero-img{
    margin-left: 5vw;
    width: 50%;
    height: 100%; 
}
.sombra{
    float:left;
    background-color: var(--amarillo);
    margin: 10px 0 0 5px;
}
.hero-img img {
    display: block;
    position: relative;
    margin: 3rem 3rem -3rem -3rem;
}
.hero .hero-title h1{
    font-size: 62px;    
    font-family: 'Mitr';
    color: var(--negro);
    text-align: right;
    text-shadow: 1px 1px 2px var(--br-shadows);
}
.h1Naranja{
    font-family: var(--font);
    color: var(--amarillo);
    font-size: 93px;    
    text-shadow: 3px 1px 2px var(--br-shadows);
}
.hero .hero-title p{
    font-size: 21px;
    font-family: var(--font);
    margin-top: 0vw;  
    margin-bottom: 0vw;
    padding-left: 0vw;
    color:var(--negro);
    text-align: right;
}
.BotonPresupuesta{    
    text-decoration: none;
    color: var(--negro);
    margin-left: 0px;
    padding: 0.8rem;    
    font-size: 21px;
    font-weight: 550;
    transition-property: color;
    transition-duration: 0.5s;
    align-self: flex-end; 
    border: 1px solid var(--negro) ;
    border-radius: 4px;
    box-shadow:1px 1px 1px var(--br-shadows) 
}
.BotonPresupuesta:hover {
    color: var(--amarillo);
    font-weight: 800;
    background-color: whitesmoke;
    box-shadow:2px -2px 5px var(--br-shadows);
    border: 1px solid var(--negro);
}